#iGraphLightbox {
  box-sizing: content-box;
}

body .xcontent #xwikicontent #contentSub + .MPWwidgetArea table {
  margin-bottom: 0px;
}

body .xcontent #xwikicontent #contentSub + .MPWwidgetArea table {
  border: none;
}

body .xcontent #xwikicontent #contentSub + .MPWwidgetArea table td,
body .xcontent #xwikicontent #contentSub + .MPWwidgetArea table td,
body .xcontent #xwikicontent #contentSub + .MPWwidgetArea table th {
  border: none;
  padding: 0px;
}

.MPWwidgetContainer * {
  box-sizing: content-box;
}

#contentSub + .MPWwidgetArea {
  margin-bottom: 8px;
}

.MPWwidgetArea > table {
    margin-bottom: 0;
}

.MPWwidgetArea > table > tbody > tr > td {
    padding-bottom: 0;
}

.MPWwidgetArea select, #MPWmaxPopupPage select {
  height: inherit;
  font-size: 11px;
  padding: 0px;
}

.MPWcartMessage {
  box-sizing: content-box;
  line-height: normal;
}

td.MPWwidgetContainer, td.MPWwidgetSupport {
    border-top: none;
}

.MPWwidget > input[type=text] {
    height: 13px;
    font-size: 11px;
    padding: 2px;
    border-radius: 0px;
}

.MPWradio {
    padding: 2px 6px 0px 2px;
}

.MPWradioContainer > input[type=radio] {
    margin: 0px 3px 3px 3px;
    height: 13px;
    width: 12px;
}

.MPWaddWidget {
  display: none !important;
}

.MPWwidgetAreaPin {
  top: -12px !important;
}
