:root {
    --awsui-grey-100: rgb(250,250,250); /* Oxygen */
    --awsui-grey-200: rgb(234,237,237); /* Chromium */
    --awsui-grey-300: rgb(213,219,219); /* Zinc */
    --awsui-grey-400: rgb(170,183,184); /* Silver */
    --awsui-grey-500: rgb(134,149,150); /* Platinum */
    --awsui-grey-600: rgb(84,91,100);   /* Mercury */
    --awsui-grey-900: rgb(22,25,31);    /* Lead */

    --awsui-orange-500: rgb(236,114,17); /* Copper */
    --awsui-orange-600: rgb(235,95,7); /* Bromine */

    --awsui-blue-500: rgb(0,161,201); /* Argon */
    --awsui-blue-600: rgb(0,125,188); /* Cobalt */

    --awsui-green-500: rgb(106,175,53); /* Fluorine */
    --awsui-green-600: rgb(30,137,0); /* Phosphorous */

    --awsui-squid-ink: rgb(35,47,62); /* Squid Ink */
    --awsui-squid-ink-transparent: rgba(35,47,62,.5); /* Squid Ink half opacity */

    --awsui-amazon-orange: rgb(255,153,0); /* Amazon Orange */
    --awsui-amazon-orange-transparent: rgb(255,153,0,0.5); /* Amazon Orange */

    --awsui-Sky: rgb(0, 70, 79); /* Sky */
    --awsui-Storm: rgb(108, 119, 120); /* Storm */
    --awsui-Summit: rgb(213, 219, 219); /* Summit */
    --awsui-Snow: rgb(234, 237, 237); /* Snow */

    --awsui-Poseidon: rgb(0, 82, 118); /* Poseidon */
    --awsui-Aqua: rgb(0, 130, 150); /* Aqua */
    --awsui-Iris: rgb(156, 213, 243); /* Iris */
    --awsui-Mist: rgb(168, 223, 238); /* Mist */

    --awsui-Wave: rgb(0, 133, 119); /* Wave */
    --awsui-Typhoon: rgb(4, 151, 150); /* Typhoon */
    --awsui-Lagoon: rgb(54, 194, 180); /* Lagoon */
    --awsui-Seafoam: rgb(166, 231, 206); /* Seafoam */

    --awsui-Forest: rgb(83, 128, 0); /* Forest */
    --awsui-Jungle: rgb(173, 228, 34); /* Jungle */
    --awsui-Honeysuckle: rgb(148, 237, 136); /* Honeysuckle */
    --awsui-Dew: rgb(228, 253, 191); /* Dew */

    --awsui-Incandescence: rgb(255, 97, 56); /* Incandescence */
    --awsui-Summer: rgb(255, 196, 0); /* Summer */
    --awsui-Poppy: rgb(254, 230, 0); /* Poppy */
    --awsui-Nectar: rgb(255, 235, 183); /* Nectar */

    --awsui-Aurora: rgb(169, 0, 103); /* Aurora */
    --awsui-Coral: rgb(255, 118, 118); /* Coral */
    --awsui-Primrose: rgb(255, 207, 207); /* Primrose */
    --awsui-Desert-Rose: rgb(236, 216, 218); /* Desert Rose */

    --awsui-Gamma: rgb(140, 41, 125); /* Gamma */
    --awsui-Lumos: rgb(140, 41, 125); /* Lumos */
    --awsui-Lavender: rgb(229, 208, 230); /* Lavender */
    --awsui-Quartz: rgb(252, 232, 243); /* Quartz */

    --base-type: rbg(255,255,255);
    --base-header: var(--awsui-grey-100);
    --base-inverted: var(--awsui-grey-900);
}


.main,
#docextrapanes {
    background: rgb(255, 255, 255);
}

.content-wrap {
    max-width: 100%;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
}

#nav-links > div:not(.navbar-nav) {
    display: none;
}

.navbar #companylogo, .navbar #nav-create-page, .navbar #nav-search {
    display: inline-block;
    vertical-align: middle;
}

button {
  border-radius: 30px;
}

#btn-1 {
  background: #ADE422;
  color: #232F3E;
}

#btn-1:hover {
  background: #E4FDBF;
  color: #232F3E; 
}

#btn-1 a:link{
    color: #232F3E;
}

#btn-1 a:visited{
     color: #232F3E;
}

#btn-2 {
  background: #FFC400;
  color: #232F3E;
}


#btn-2:hover {     
  background: #FFEBB7;
  color: #232F3E;
}

#btn-2 a:link{
    color: #232F3E;
}

#btn-2 a:visited{
     color: #232F3E;
}

#btn-3 {
  background: #FF7676;
  color:#232F3E;
}

#btn-3:hover {
  background:#ECD8DA;
  color:#232F3E;
}

#btn-3 a:link{
    color: #232F3E;
}

#btn-3 a:visited{
     color: #232F3E;
}

#btn-4 {
  background: #36C2B4;
  color: #232F3E;
}

#btn-4:hover {
  background:#A6E7CE;
  color: #232F3E;
}


#btn-4 a:link{
    color: #232F3E;
}

#btn-4 a:visited{
     color: #232F3E;
}

#btn-5 {
  background:#005276;
  color:#FFFFFF;
}

#btn-5:hover {
  background: #008296;
  color: #FFFFFF;
}

#btn-5 a:link{
    color: #FFFFFF;
}

#btn-5 a:visited{
     color: #FFFFFF;
}

#btn-6{
	background:#232F3E;
	color: #FFFFFF;
}

#btn-6:hover{
	background:#6C7778;
	color:#FFFFFF;
}

#btn-6: a:link{
	color:#FFFFFF;
}

#btn-6 a:visited{
	color:#FFFFFF;
}

#btn-7 {
	background: none;
	color: #005276;
	border: none;
}

#btn-7:hover {
	color:#a90067;
}

#btn-7: a:link{
	color:#a90067;
}

#btn-7 a:visited{
	color:#a90067;
}

#menuview .navbar {
    background: white;
    box-shadow: 0 1px 1px 0 rgba(255,255,255,.5);
}
#headerglobalsearchinput {
    height: 30px;
    border: 1px solid rgb(108, 119, 120);
}

.mytabs {
	display: flex;
	flex-wrap: wrap;
	max-width: auto;
}

.mytabs input[type="radio"] {
	display: none;
}

.mytabs label {
	padding: 15px;
	background:#D5DBDB;
	font-weight:bold;
}

.mytabs .tab {
	width:100%;
	padding:20px;
	background:#ffffff;
	order: 1;
	display: none;
}

.mytabs .tab h2{
	font-size:3em;
}
.mytabs input[type='radio']:checked + label + .tab{
	display: block;
}
.mytabs input[type='radio']:checked + label {
	background: #FF9900;
}

.container {
	margin: auto; 
	width: 70%;
	background-color:rgb(169, 0, 103);
	color:#ffffff;
}

.container a:link{
	color:rgb(168, 223, 238); /* Mist */
}

.container a:hover{
	color:rgb(0, 130, 150);
}

.container a:visited{
	color: rgb(166, 231, 206); /* Seafoam */
}

#xdocPrimaryOwner {display: none}

/* MISC STUFF */
/* Disabled the edit button because the WYSIWYG destroys content when transcluding the header */
#tmEdit {
    display: none!important;
}
/* Disables a paragraph that gets injected between the header and navigation by the wiki */
.devices-header + p {
    display: none;
}

.navbar #nav-create-page {
    display: none;
}

/* TYPOGRAPHY */
body, p, a, li, h1, h2, h3, h4, h5, h6 {
    font-family: "Amazon Ember", Helvetica, Arial, sans-serif;
}

body,
#body p,
#body a,
#body li,
#body h1,
#body h2,
#body h3,
#body h4,
#body h5,
#body h6 {
    font-family: "Amazon Ember", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
}
  
#body h1,
#body h2,
#body h3,
#body h4,
#body h5,
#body h6 {
    padding: 5px 0;
}

#body h3 {
	 padding: 5px 12px;
}

#body .special {font-size: 44px; line-height: 50px; font-weight: 300;}
#body h1       {font-size: 28px; line-height: 40px;}
#body h2       {font-size: 18px; line-height: 20px; font-weight: 700;}
#body h3       {font-size: 18px; line-height: 20px;}
#body h4       {font-size: 15px; line-height: 20px; font-weight: 700;}
#body h5       {font-size: 15px; line-height: 20px;}
#body h6       {font-size: 14px; line-height: 20px;}


#toc_container{
   background: var(--awsui-Snow); 
   Border: 1pt solid var(--awsui-squid-ink);
   display: table;
   font-size: 90%
   margin: 1em;
   padding: 1em;
   width: auto;
}

.toc_title {
    font-weight: 700;
    color: rgb(0, 70, 79);
    text-align: center;
} 

#toc_container li, #toc_container ul, #toc_container ul li{
   list-style: outside none none !important;
}


/* WIKI MODS */
/* ========================================================================== */
/* site emergency banner */
.site-banner {
    border: 1px solid var(--awsui-squid-ink)!important;
    color: rgb(35,47,62);
    line height: 20px;
    background-color: rgb(255,118,118);
    padding: 14px 20px;
    margin: 20px 0;
}

/* links within the site emergency banner */
.site-banner a:link{
    color: rgb(0,82,118);
}

.site-banner a:hover{
     color: rgb(0, 70, 79);
}

.site-banner a:visited{
     color: rgb(140, 41, 125);
}

h4.attention01 {
color: #008577; 
}

p.attention02 {
color:#A90067;
}

p.attention03 {
color:#005276;
}	

/* Main content column */
#body #contentcontainer .main {
    padding: 0 20px 20px;
}

.devices-header {
    margin: 0 -20px!important;
    width: auto!important;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: contents;
  overflow: hidden;
}

.panel ul {
  padding: 25px;
}

/* Breadcrumbs*/
#hierarchy {
    margin: 0 -20px;
    padding: 10px 20px;
    border-radius: 0;
    background-color: var(--awsui-squid-ink);
    position: relative;
    z-index: 20;
    box-shadow: 0 2px 0 2px rgba(0,0,0,.2);
}
#mainContentArea > .xcontent {
    margin-top: 0;
}

.breadcrumb > li + li:before {color: rgb(108, 119, 120);}
.breadcrumb a {color: rgb(255, 255, 255);}
.breadcrumb > .active:last-of-type a {color: rgb(255, 255, 255);}

/* Document meta */
.xdocLastModification {
    font-size: 10px;
    position: absolute;
    top: -60px;
    margin: 0;
    display: none;
}
.xdocLastModification .wikilink,
#body .xdocLastModification .wikilink a {
    font-size: 10px;
}
.titleDivider {
    display: none;
}
.document-header {
    margin: 0;
    position: relative;
    z-index: 25;
    top: -38px;
    width: 250px;
    float: right;
}
.document-header .document-menu,
.document-header .document-info {
    margin: 0 auto;
    padding: 0;
}
.document-header .document-menu {
    width: 100%;
    opacity: 0.1;
    transition: .2s opacity ease;
}
.document-header .document-menu:hover {
    opacity: 1;
}
.document-header .document-info {
    pointer-events: none;
}
#document-title {
    display: none;
}
#document-title h1 {
    background: none;
}
#xwikicontent {
    position: relative;
    top: -35px;
}

#xwikicontent,
#docextrapanes {
    background: rgb(255, 255, 255);
}

.btn, input.button {
    background-image: none;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 70, 79);
    border: 1px solid varrgb(108, 119, 120);
    font-weight: 700;
    padding: 4px 20px;
}

.btn:hover, input.button:hover {
    background-color: var(--awsui-grey-200);
    background-image: none;
    border: 1px solid rgb(0, 70, 79);
    color: rgb(0, 70, 79);
}

.edit_section {
    overflow: visible;
    top: -11px;
    opacity: 0.2;
    transition: .2s opacity ease;
}
.edit_section:visible {
    opacity: 1;
}
.edit_section + * {
    clear: both;
}
.wikimodel-emptyline {
    display: block;
}

.devices-navigation ~ *:not(.amazon-wiki-toc) {
    margin-left: 20px;
    margin-right: 20px;
}

/* Limits content to a fake content column */
@media screen and (min-width: 1200px) {
    .devices-navigation ~ *:not(.amazon-wiki-toc) {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 768px) {
    #menuview, #sitewide-announcement-banner {
        display: none;
    }
    .amazon-wiki-toc {
        display: none;
    }
    .edit_section {
        display: none;
    }
    .document-header {
        opacity: 0;
        pointer-events: none;
    }
}

/* NAVIGATION */
.devices-navigation {
    z-index: 2;
    position: relative;
    top: -45px;
}

.devices-navigation ul {
    width: 100%;
    text-align: center;
    display: inline-block;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}
.devices-navigation ul ul{
    width: auto;
    text-align: left;
}
.devices-navigation li {
    margin: 0 auto;
    padding: 0;
}
.devices-navigation a,
.devices-navigation .nested-menu span {
    width: 100%;
    white-space: nowrap;
    display: inline-block;
    padding: 5px 10px;
    color: #232F3E;
    transition: all .4s ease;
}
.devices-navigation .nested-menu span { cursor: default; }
.devices-navigation ul ul .nested-menu span { color: rgb(108, 119, 120); }
.devices-navigation ul ul a { color: #232F3E; }
.devices-navigation a:hover,
.devices-navigation .nested-menu span:hover {
    text-decoration: none;
    background-color: rgb(255, 153, 0);
    color: rgb(35, 47, 62);
}
.devices-navigation .nested-menu {
    position: relative;
}
.devices-navigation ul ul .nested-menu:hover::after {
    border-color: transparent transparent transparent rgb(236,114,17);
/*    animation-duration: 1s;
    animation-name: arrowBounce;
    animation-iteration-count: infinite;*/
}
.devices-navigation ul ul .nested-menu::after {
    position: absolute;
    pointer-events: none;
    top: 50%;
    right: 5px;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent rgb(255,255,255);
    transform: translateY(-50%);
    transition: all .2s ease;
}
.devices-navigation ul ul .nested-menu {
    padding-right: 10px;
}

/* Menu */
.devices-navigation > ul > li {
    display: inline-block;
}

/* Submenu */
.devices-navigation > ul > li > ul {
    background: rgb(255,255,255);
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all .2s ease;
}
.devices-navigation > ul > li.nested-menu:hover > ul {
    opacity: 1;
    pointer-events: auto;
}

/* Sub Submenu */
.devices-navigation > ul > li > ul > li > ul {
    background: rgb(255,255,255);
    position: absolute;
    min-width: 150px;
    top: 0;
    left: calc(100%);
    opacity: 0;
    pointer-events: none;
    transition: all .2s ease;
}
.devices-navigation > ul > li > ul > li.nested-menu:hover > ul {
    opacity: 1;
    pointer-events: auto;
}

/* Sub Sub Submenu */
.devices-navigation > ul > li > ul > li > ul > li > ul {
    background: rgb(255,255,255);
    position: absolute;
    min-width: 150px;
    top: 0;
    left: calc(100%);
    opacity: 0;
    pointer-events: none;
    transition: all .2s ease;
}
.devices-navigation > ul > li > ul > li > ul> li.nested-menu:hover > ul {
    opacity: 1;
    pointer-events: auto;
}

/* HEADER */
.devices-header {
    margin: 0 auto;
    background-color: rgb(255,255,255);
    position: relative;
    width: 100%;
    height: 170px;
    overflow: hidden;
}
.devices-header::after {
    z-index: 1;
    content: '';
    background: red;
    width: 340px;
    height: 340px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}
.devices-header-title {
    z-index: 2;
    font-family: "Amazon Ember", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    position: absolute;
    color: rgb(35, 47, 62);
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    line-height: 1.4;
    font-weight: 700;
}
.devices-header-title::after {
    z-index: 2;
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background: rgb(255,153,0);
}
.devices-header-subtitle {
    z-index: 2;
    font-family: "Amazon Ember", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    position: absolute;
    color: rgb(35, 47, 62);
    top: 99px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    line-height: 1.4;
    font-weight: 700;
}

.devices-header-rainbow-wrapper { 
  height: 5%;
  width: 100%;
  left:0;
  right: 0;
  top: 30;
  bottom: -30;
  position: absolute;
background: linear-gradient(124deg, #FF0018, #FFA52C, #FFFF41, #008018, #0000F9, #86007D);
background-size: 1800% 1800%;

-webkit-animation: rainbow 18s ease infinite;
-z-animation: rainbow 18s ease infinite;
-o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

device-header-body {
	background: #FFFFFF;
	color: #333;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

/* BEGIN BUBBLES HEADER */
.device-header-wrapper {
  position: absolute;
  right: 85%;
  top: 120px;
  transform: scale(1, 1) translate(-50%, -50%);
}

/* BUBBLES KEYFRAMES */

@-webkit-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-moz-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@-moz-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

/* BUBBLES ANIMATIONS */

.x1 {
    -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: -5%;
	top: 5%;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.x2 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 5%;
	top: 80%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x3 {
    -webkit-animation: animateBubble 28s linear infinite, sideWays 2.5s ease-in-out infinite alternate;
	-moz-animation: animateBubble 28s linear infinite, sideWays 2.5s ease-in-out infinite alternate;
	animation: animateBubble 28s linear infinite, sideWays 2.5s ease-in-out infinite alternate;
	
	left: 10%;
	top: 40%;
	
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	transform: scale(0.7);
}

.x4 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3.2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3.2s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3.2s ease-in-out infinite alternate;
	
	left: 20%;
	top: 0;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x5 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4.6s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 4.6s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 4.6s ease-in-out infinite alternate;
	
	left: 30%;
	top: 50%;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.x6 {
    -webkit-animation: animateBubble 21.5s linear infinite, sideWays 2.2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 21.5s linear infinite, sideWays 2.2s ease-in-out infinite alternate;
	animation: animateBubble 21.5s linear infinite, sideWays 2.2s ease-in-out infinite alternate;
	
	left: 50%;
	top: 0;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
}

.x7 {
    -webkit-animation: animateBubble 20.5s linear infinite, sideWays 2.9s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20.5s linear infinite, sideWays 2.9s ease-in-out infinite alternate;
	animation: animateBubble 20.5s linear infinite, sideWays 2.9s ease-in-out infinite alternate;
	
	left: 65%;
	top: 70%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x8 {
    -webkit-animation: animateBubble 22.5s linear infinite, sideWays 3.3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22.5s linear infinite, sideWays 3.3s ease-in-out infinite alternate;
	animation: animateBubble 22.5s linear infinite, sideWays 3.3s ease-in-out infinite alternate;
	
	left: 80%;
	top: 10%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x9 {
    -webkit-animation: animateBubble 29.5s linear infinite, sideWays 4.05s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29.5s linear infinite, sideWays 4.05s ease-in-out infinite alternate;
	animation: animateBubble 29.5s linear infinite, sideWays 4.05s ease-in-out infinite alternate;
	
	left: 90%;
	top: 50%;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.x10 {
    -webkit-animation: animateBubble 26.5s linear infinite, sideWays 2.7s ease-in-out infinite alternate;
	-moz-animation: animateBubble 26.5s linear infinite, sideWays 2.7s ease-in-out infinite alternate;
	animation: animateBubble 26.5s linear infinite, sideWays 2.7s ease-in-out infinite alternate;
	
	left: 80%;
	top: 80%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

/* BUBBLES OBJECTS */

.bubble {
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1), inset 0px 10px 30px 5px rgba(140, 41, 125, .1);
	-moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1), inset 0px 10px 30px 5px rgba(140, 41, 125, .1);
	box-shadow: inset 0 20px 30px rgba(0, 0, 0, 0.1), inset 0px 10px 30px 5px rgba(140, 41, 125, .1);
	
    height: 200px;
	position: absolute;
	width: 200px;
}

.bubble:after {
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 70%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.5)), color-stop(70%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* W3C */

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
    -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	
	content: "";
    height: 180px;
	left: 10px;
	position: absolute;
	width: 180px;
}

/* end bubbles header */

/* DIWALI HEADER */

.devices-header-candles-wrapper {
  position: absolute;
  right: 85%;
  top: 120px;
  transform: scale(1, 1) translate(-50%, -50%);
}

.devices-header-floor {
  position: absolute;
  left: 1%;
  top: 95%;
  width: 225px;
  height: 5px;
  background: #232F3E;
  box-shadow: 0px 2px 5px #111;
  z-index: 2;
}

.devices-header-candles {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 250px;
  height: 150px;
  transform: translate(-50%, -100%);
  z-index: 1;
}

.devices-header-candle1 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 32px;
  height: 97px;
  background: #f917cd; 
  border: 3px solid #232F3E;
  border-bottom: 0px;
  border-radius: 3px;
  transform-origin: center right;
  transform: translate(60%, -25%);
  box-shadow: -2px 0px 0px #9f288c inset;
  animation: expand-body 3s infinite linear;
}

.devices-header-candle1__eyes-one {
  position: absolute;
  left: 30%;
  top: 50%;
  width: 5px;
  height: 5px;
  display: inline-block;
  border: 0px solid #232F3E;
  border-radius: 100%;
  float: left;
  background: #232F3E;
  transform: translate(-80%, 0%);
  animation: changeto-lower 3s infinite linear;
}

.devices-header-candle1__eyes-two {
  position: absolute;
  left: 70%;
  top: 50%;
  width: 5px;
  height: 5px;
  display: inline-block;
  border: 0px solid #232F3E;
  border-radius: 100%;
  float: left;
  background: #232F3E;
  transform: translate(-80%, 0%);
  animation: changeto-greater 3s infinite linear;
}

.devices-header-candle1__stick, .devices-header-candle2__stick, .devices-header-candle3__stick, .devices-header-candle4__stick {
  position: absolute;
  left: 50%;
  top: 0%;
  width: 3px;
  height: 15px;
  background: #232F3E;
  border-radius: 8px;
  transform: translate(-50%, -100%);
}

.devices-header-candle2__stick {
  height: 12px;
  transform-origin: bottom center;
  animation: stick-animation 3s infinite linear;
}

.devices-header-candle3__stick{
  height: 12px;
  transform-origin: bottom center;
  animation: stick-animation 3s infinite linear;
}

.devices-header-candle4__stick{
  height: 12px;
  transform-origin: bottom center;
  animation: stick-animation 3s infinite linear;
}

.devices-header-candle1__eyes, .devices-header-candle2__eyes, .devices-header-candle3__eyes, .devices-header-candle4__eyes {
  position: absolute;
  left: 50%;
  top: 0%;
  width: 35px;
  height: 30px;
  transform: translate(-50%, 0%);
}

.devices-header-candle2 {
  position: absolute;
  left: 37%;
  top: 65%;
  width: 42px;
  height: 59px;
  background: #feed00; 
  border: 3px solid #232F3E;
  border-bottom: 0px;
  border-radius: 3px;
  transform: translate(60%, -15%);
  transform-origin: center right;
  box-shadow: -2px 0px 0px #ba841e inset;
  animation: shake-left 3s infinite linear;
}

.devices-header-candle2__eyes-one {
  position: absolute;
  left: 30%;
  top: 50%;
  width: 5px;
  height: 5px;
  display: inline-block;
  border: 0px solid #232F3E;
  border-radius: 100%;
  float: left;
  background: #232F3E;
  transform: translate(-80%, 0%);
  animation: changeto-lower 3s infinite linear;
}

.devices-header-candle2__eyes-two {
  position: absolute;
  left: 70%;
  top: 50%;
  width: 5px;
  height: 5px;
  display: inline-block;
  border: 0px solid #232F3E;
  border-radius: 100%;
  float: left;
  background: #232F3E;
  transform: translate(-80%, 0%);
  animation: changeto-greater 3s infinite linear;
}

.devices-header-candle3 {
  position: absolute;
  left: 10%;
  top: 50%;
  width: 35px;
  height: 97px;
  background: #ff0000; 
  border: 3px solid #232F3E;
  border-bottom: 0px;
  border-radius: 3px;
  transform-origin: center right;
  transform: translate(60%, -25%);
  box-shadow: -2px 0px 0px #890d0d inset;
  animation: expand-body 3s infinite linear;
}

.devices-header-candle3__eyes-one {
  position: absolute;
  left: 30%;
  top: 30%;
  width: 5px;
  height: 5px;
  display: inline-block;
  border: 0px solid #232F3E;
  border-radius: 100%;
  float: left;
  background: #232F3E;
  transform: translate(-80%, 0%);
  animation: changeto-lower 3s infinite linear;
}

.devices-header-candle3__eyes-two {
  position: absolute;
  left: 70%;
  top: 30%;
  width: 5px;
  height: 5px;
  display: inline-block;
  border: 0px solid #232F3E;
  border-radius: 100%;
  float: left;
  background: #232F3E;
  transform: translate(-80%, 0%);
  animation: changeto-greater 3s infinite linear;
}

.devices-header-candle4 {
  position: absolute;
  left: 18%;
  top: 65%;
  width: 39px;
  height: 59px;
  background: #0047ff; 
  border: 3px solid #232F3E;
  border-bottom: 0px;
  border-radius: 3px;
  transform: translate(60%, -15%);
  transform-origin: center right;
  box-shadow: -2px 0px 0px #231eba inset;
  animation: shake-left 3s infinite linear;
}

.devices-header-candle4__eyes-one {
  position: absolute;
  left: 30%;
  top: 50%;
  width: 5px;
  height: 5px;
  display: inline-block;
  border: 0px solid #232F3E;
  border-radius: 100%;
  float: left;
  background: #232F3E;
  transform: translate(-80%, 0%);
  animation: changeto-lower 3s infinite linear;
}

.devices-header-candle4__eyes-two {
  position: absolute;
  left: 70%;
  top: 50%;
  width: 5px;
  height: 5px;
  display: inline-block;
  border: 0px solid #232F3E;
  border-radius: 100%;
  float: left;
  background: #232F3E;
  transform: translate(-80%, 0%);
  animation: changeto-greater 3s infinite linear;
}


.devices-header-candle1__fire {
  position: absolute;
  top: 49%;
  left: 55%;
  display: block;
  width: 16px;
  height: 20px;
  z-index: 2;
  background-color: red;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  background: #FF9800;
  transform: translate(-50%, -50%);
  animation: dance-fire 3s infinite linear;
}

.devices-header-candle2__fire {
  position: absolute;
  top: 26%;
  left: 64%;
  display: block;
  width: 16px;
  height: 20px;
  background-color: red;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  background: #FF9800;
  transform: translate(-50%, -50%);
  animation: dance-fire 3s infinite linear;
}

.devices-header-candle3__fire {
  position: absolute;
  top: 25%;
  left: 26%;
  display: block;
  width: 16px;
  height: 20px;
  background-color: red;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  background: #FF9800;
  transform: translate(-50%, -50%);
  animation: dance-fire 3s infinite linear;
}

.devices-header-candle4__fire {
  position: absolute;
  top: 48%;
  left: 35%;
  display: block;
  width: 16px;
  height: 20px;
  background-color: red;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  background: #FF9800;
  transform: translate(-50%, -50%);
  animation: dance-fire 3s infinite linear;
}

.devices-header-light__wave {
  position: absolute;
  top: 35%;
  left: 35%;
  width: 75px;
  height: 75px;
  border-radius: 100%;
  z-index: 0;
  transform: translate(-25%, -50%) scale(2.5, 2.5);
  border: 2px solid rgba(255, 230, 134, 0.2);
  animation: expand-light 3s infinite linear;
}

@keyframes dance-fire {
   59%,89%{
    Left: 2px
    width: 0px;
    height: 0px;
  }
  90%,0%,7%,15%,23%,31%,39%,47%,55% {
    Left: 2px
    width: 16px;
    height: 20px;
    background: #FFC107;
  }
  94%,3%,11%,19%,27%,35%,43%,51%,58% {
    Right: 2px
    width: 16px;
    height: 20px;
    background: #FF9800;
  }
}

/* end diwali header */

/*prime truck*/
.devices-header-car-right {
  position: absolute;
  top: 86%;
  left: 0px;
  z-index: 10;
  background-color: transparent;
  animation-duration: 20s;
  animation-name: goRight;
  animation-iteration-count: infinite;
}

svg {
  height: 50px;
  fill: #FF9900;
  transform: scaleX(-1);
}

@keyframes goRight {
  from {
    transform: translate(0,0);
  }

  to {
    transform: translate(1920px,0);
  }
}
/*end prime truck*/

#menuview .navbar-brand {
    width: 100px;
    height: 25px;
    margin-left: 5px;
    display: block;
    background-size: 100%;
}
#menuview .navbar-brand img {
    display: none;
}

.navbar li.navbar-help-menu > a.dropdown-toggle {
    color: rgb(0, 70, 79);
}
